

<!DOCTYPE HTML>
<!--
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Información Legal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
		
					<theader id="header">
						<h1>Información Legal</h1>
						<p>Reserva tu Tickets.com es una marca registrada a nombre de los estudiantes<br>
						Giovanni Gómez Restrepo<br>
						Sergio Andrés Rodriguez Galeano<br>
						Alexander Arbeláez Hincapié
						</p>
						<a href="/">Regresar a Tus Reservas.com</a>
					</header>
			</div>

<img src="assets/img/cine1.jpg" alt="cine">


		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>



