<%- include('header') -%>

<div class="container">
    <div class="text-center mt-6">
        <p class="h1 mt-6">
            Bienvenido a tus-reservas.com
        </p>
    </div>
    <main id="main"></main>


</div>
<script src="./scriptini.js"></script>
<link rel="stylesheet" href="style.css"/>

<%- include('footer') -%>