<%- include('header') -%>

<div class="container">
    <div class="text-center mt-6">
        <p class="h1 mt-6">
            Bienvenido a tus-reservas.com
        </p>
    </div>

</div>

<%- include('footer') -%>